# ################  Ignore extension files: ############

*.pdf
*.eps
*.log
*.png

# ######### SPECIFIC FILES ##########

gtc2017-numba-master.zip

#temp.py
#test.zip
#test01.py
#test02.py
test*
cuda-samples*

# ################ FOLDERS ##################

gtc2017-numba-master/

# MeasureInletOutlet/Photos/: Ignores all files and subdirectories in the MeasureInletOutlet/Photos/ directory


# ################# Auto things and OS ###########

.DS_Store
Thumbs.db
__pycache__/
